.fileInput{
    border: 4px solid #b97878;
    padding: 30px;
    border-radius: 8px;
    background-color: #adcac8;
    color: #855656;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    margin-left: 570px;
    margin-top: 125px;
}

.fileInput:hover{
    background-color: #a1acb7;
}

.selectStyle{
    padding: 8px;
    font-size: 14px;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #cbb1b1;
    border-radius: 6px solid #945858cf;
    background-color: #c5a8a8;
    color: #333;
    margin-left: 100px;
    margin-top: 20px;
}

.buttonStyle{
    background-color: #b19fb1;
    color: rgb(22, 21, 21);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer;
    margin-top: 8px;
    margin-left: 757px;
}

.buttonStyle:hover{
    background-color: #7d91a5;
}

.highlight {
    background-color: rgb(232, 232, 151);
    color: black;
    font-weight: bold;
  }
  
  